# PLEASE CREATE ALL THE TYPES OF ENV NEEDED TO AVOID RUN TIME BUGS
# 
# THE ACCEPTED TYPES ARE 
#  .env.development
#  .env.staging
#  .env.production
# 

APP_CUSTOM_FLAVOUR='staging | production | development'

APP_BACKEND_BASE_URL=''

APP_PAYSTACK_KEY=''

APP_WEBSITE_URL=''

APP_MMKV_ENCRYPTION_KEY=''
